<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Home Page</title>
        <link rel="stylesheet" href="/static/home.css" />
    </head>
    <body>
        <div>
            <div class="wrapper">
                <div class="text">Welcome Home</div>
                <p>
                    Click one of the buttons below to see a cool text effect<br />
                    using HTML, CSS, and JavaScript.
                </p>
                <div>
                    <button class="particles-btn" type="button" onclick=location.href="/particles">PARTICLES</button>
                    <button class="drawing-btn" type="button">DRAWING</button>
                    <button class="spinning-btn" type="button" onclick=location.href="/spinning">3D SPINNING</button>
                </div>
            </div>
        </div>
    </body>
</html>