<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>3D Spinning Text Effect</title>
        <link rel="stylesheet" href="/static/home.css" />
        <link rel="stylesheet" href="/static/spinning.css" />
    </head>
    <body>
        <div class="container">
            <div class="box">
                <span style="--i:1">WOAH</span>
                <span style="--i:2">WOAH</span>
                <span style="--i:3">WOAH</span>
                <span style="--i:4">WOAH</span>
                <span style="--i:5">WOAH</span>
                <span style="--i:6">WOAH</span>
                <span style="--i:7">WOAH</span>
                <span style="--i:8">WOAH</span>
                <span style="--i:9">WOAH</span>
                <span style="--i:10">WOAH</span>
                <span style="--i:11">WOAH</span>
                <span style="--i:12">WOAH</span>
                <span style="--i:13">WOAH</span>
                <span style="--i:14">WOAH</span>
                <span style="--i:15">WOAH</span>
                <span style="--i:16">WOAH</span>
            </div>
        </div>
        <div class="btns">
            <button class="home-btn" type="button" onclick=location.href="/index">
                <ion-icon name="home"></ion-icon>
            </button>
            <button class="particles-btn" onclick=location.href="/particles">PARTICLES</button>
            <button class="drawing-btn" onclick=location.href="/drawing">DRAWING</button>
        </div>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>